In [2]:
import pandas as pd
from sklearn.impute import KNNImputer
import numpy as np

In [3]:
df = pd.read_csv('D:/ds/leopard-challenge/train.csv')
df_test = pd.read_csv('D:/ds/leopard-challenge/test.csv')

# Предобработка данных и избавление от NaN

### Тренировочный датасет 'df'

In [4]:
lt = pd.DataFrame(df.isna().sum().sort_values(ascending=False)).reset_index()
lt

            index      0
0    BuildingArea  10623
1       YearBuilt   9429
2        Landsize   4794
3             Car   3575
4        Bathroom   3470
5        Bedroom2   3468
6      Longtitude   3332
7       Lattitude   3332
8   Propertycount      1
9      Regionname      1
10    CouncilArea      1
11         Suburb      0
12        Address      0
13       Postcode      0
14       Distance      0
15           Date      0
16        SellerG      0
17         Method      0
18          Price      0
19           Type      0
20          Rooms      0
21             id      0

In [5]:
knn1 = KNNImputer(n_neighbors=2)
knn1.fit(df[['BuildingArea','YearBuilt',
            'Landsize','Car','Bathroom',
            'Bedroom2',
            'Propertycount']])

knn2= KNNImputer(n_neighbors=2)
knn2.fit(df[['Longtitude','Lattitude']])

knn1.feature_names_in_, knn2.feature_names_in_

(array(['BuildingArea', 'YearBuilt', 'Landsize', 'Car', 'Bathroom',
        'Bedroom2', 'Propertycount'], dtype=object),
 array(['Longtitude', 'Lattitude'], dtype=object))

In [6]:
data1_df = knn1.transform(df[['BuildingArea','YearBuilt',
            'Landsize','Car','Bathroom',
            'Bedroom2',
            'Propertycount']]).round(0)

data2_df = knn2.transform(df[['Longtitude','Lattitude']])

In [7]:
df[['BuildingArea','YearBuilt',
            'Landsize','Car','Bathroom',
            'Bedroom2',
            'Propertycount']] = data1_df

df[['Longtitude','Lattitude']] = data2_df

In [8]:
df[df.isnull().any(1)]

C:\Users\ev708\AppData\Local\Temp\ipykernel_9684\1040708776.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df[df.isnull().any(1)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,id
14406,Footscray,2/16 Stafford St,2,u,710000.0,S,Jas,15/07/2017,5.1,3011.0,...,2.0,559.0,151.0,1966.0,NaN,-37.809872,144.996486,NaN,7519.0,21235

In [9]:
df['CouncilArea'] = df['CouncilArea'].transform(lambda x: x.fillna('no_info'))
df['Regionname'] = df['Regionname'].transform(lambda x: x.fillna('no_info'))

In [10]:
df.iloc[14406]

Suburb                  Footscray
Address          2/16 Stafford St
Rooms                           2
Type                            u
Price                    710000.0
Method                          S
SellerG                       Jas
Date                   15/07/2017
Distance                      5.1
Postcode                   3011.0
Bedroom2                      3.0
Bathroom                      2.0
Car                           2.0
Landsize                    559.0
BuildingArea                151.0
YearBuilt                  1966.0
CouncilArea               no_info
Lattitude              -37.809872
Longtitude             144.996486
Regionname                no_info
Propertycount              7519.0
id                          21235
Name: 14406, dtype: object

In [11]:
df.isna().mean()

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
id               0.0
dtype: float64

### Обучающий датасет 'df_test'

In [12]:
df_test.isna().mean().sort_values(ascending=False)

BuildingArea     0.673169
YearBuilt        0.647086
Landsize         0.504990
Car              0.366977
Bathroom         0.336131
Bedroom2         0.335677
Longtitude       0.330007
Lattitude        0.330007
Propertycount    0.000227
Regionname       0.000227
CouncilArea      0.000227
Distance         0.000113
Postcode         0.000113
Suburb           0.000000
Address          0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Type             0.000000
Rooms            0.000000
id               0.000000
dtype: float64

In [13]:
knn3 = KNNImputer(n_neighbors=2)
knn3.fit(df_test[['BuildingArea','YearBuilt',
            'Landsize','Car','Bathroom',
            'Bedroom2',
            'Propertycount','Distance','Postcode']])

knn4= KNNImputer(n_neighbors=2)
knn4.fit(df_test[['Longtitude','Lattitude']])

knn3.feature_names_in_, knn4.feature_names_in_

(array(['BuildingArea', 'YearBuilt', 'Landsize', 'Car', 'Bathroom',
        'Bedroom2', 'Propertycount', 'Distance', 'Postcode'], dtype=object),
 array(['Longtitude', 'Lattitude'], dtype=object))

In [14]:
data1_df_test = knn3.transform(df_test[['BuildingArea','YearBuilt',
            'Landsize','Car','Bathroom',
            'Bedroom2',
            'Propertycount','Distance','Postcode']]).round(0)

data2_df_test = knn4.transform(df_test[['Longtitude','Lattitude']])

In [15]:
df_test[['BuildingArea','YearBuilt',
            'Landsize','Car','Bathroom',
            'Bedroom2',
            'Propertycount','Distance','Postcode']] = data1_df_test

df_test[['Longtitude','Lattitude']] = data2_df_test

In [16]:
df_test[df_test.isnull().any(1)]

C:\Users\ev708\AppData\Local\Temp\ipykernel_9684\1342770330.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df_test[df_test.isnull().any(1)]

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,id
2634,Camberwell,2/3 Kingsley St,2,h,VB,Jellis,11/11/2017,8.0,3124.0,4.0,...,0.0,594.0,240.0,1930.0,NaN,-37.799458,144.997531,NaN,8920.0,15921
4628,Fawkner Lot,1/3 Brian St,3,h,SP,Brad,6/01/2018,13.0,3128.0,3.0,...,2.0,701.0,172.0,1969.0,NaN,-37.799458,144.997531,NaN,7668.0,33262

In [17]:
df_test['CouncilArea'] = df_test['CouncilArea'].transform(lambda x: x.fillna('no_info'))
df_test['Regionname'] = df_test['Regionname'].transform(lambda x: x.fillna('no_info'))

In [18]:
df_test.iloc[4628]

Suburb            Fawkner Lot
Address          1/3 Brian St
Rooms                       3
Type                        h
Method                     SP
SellerG                  Brad
Date                6/01/2018
Distance                 13.0
Postcode               3128.0
Bedroom2                  3.0
Bathroom                  2.0
Car                       2.0
Landsize                701.0
BuildingArea            172.0
YearBuilt              1969.0
CouncilArea           no_info
Lattitude          -37.799458
Longtitude         144.997531
Regionname            no_info
Propertycount          7668.0
id                      33262
Name: 4628, dtype: object

In [19]:
df_test.isna().mean()

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
id               0.0
dtype: float64

# Собираем модель catboost

In [20]:
from sklearn.model_selection import train_test_split
train, test =  train_test_split(df,test_size=0.2,random_state=42)

In [21]:
y  = ['Price']
X = list(df.drop(columns = ['Price']).columns)
cat_features = list(df.select_dtypes(include = ['object']).columns)

In [22]:
from catboost import Pool

train_data = Pool(data=train[X], 
                  label=train[y], 
                  cat_features=cat_features)

In [33]:
best_params1 = {'cat_features': cat_features,
          'eval_metric': 'MAPE',
          'loss_function': 'RMSE',
          'learning_rate': 0.1,
          'random_seed': 42,
          'verbose':100}

In [34]:
from catboost import CatBoostRegressor

In [35]:
model = CatBoostRegressor(**best_params1)

In [36]:
model.fit(train_data)

0:	learn: 0.4982406	total: 32.3ms	remaining: 32.3s
100:	learn: 0.1706032	total: 4.65s	remaining: 41.4s
200:	learn: 0.1584816	total: 9.76s	remaining: 38.8s
300:	learn: 0.1510444	total: 14.5s	remaining: 33.6s
400:	learn: 0.1460079	total: 19.2s	remaining: 28.7s
500:	learn: 0.1418611	total: 24.3s	remaining: 24.2s
600:	learn: 0.1378887	total: 29.2s	remaining: 19.4s
700:	learn: 0.1350131	total: 34.1s	remaining: 14.5s
800:	learn: 0.1319782	total: 38.9s	remaining: 9.67s
900:	learn: 0.1291377	total: 43.9s	remaining: 4.83s
999:	learn: 0.1264122	total: 49s	remaining: 0us

In [37]:
test['predict'] = model.predict(test[X])

In [38]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

def error(y_true,y_pred):
  print(mean_absolute_error(y_true,y_pred))
  print(mean_absolute_percentage_error(y_true,y_pred))

In [39]:
error(test['Price'],test['predict'])

163792.68404509765
0.1560257521044298

# df_test

In [41]:
df_test['Price'] = model.predict(df_test[X])

In [42]:
df_test_submission = df_test[['id','Price']]

In [43]:
df_test_submission.to_csv('df_test_submission.csv', index=False)